/* Flexnav Base Styles */

.flexnav{
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    margin: 0 auto;
    padding: 0;
    transition: none;
    background: $white;
    transform-style: preserve-3d;
    list-style: none;
    box-shadow: 0 4px 4px 4px rgba($black, 0.25);

    > *{
        flex: 0 0 auto;
    }

    &.opacity{
        opacity: 0;
    }

    &.flexnav-show{
        max-height: 2000px;
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }

    li{
        position: relative;
        overflow: hidden;
        width: 100%;

        a{
            font-size: 1.25rem;
            text-decoration: none;
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 1rem;
            color: $black;
            font-size: 1.25rem;
            padding: 0.5rem 1rem;

            svg{
                fill: $primary;
            }

            img,
            svg{
                margin: 0 0.5rem;
            }
        }

        ul{
            width: 100%;
            padding: 0;
            list-style: none;
            margin: 0;

            li{
                font-size: 100%;
                position: relative;
                overflow: hidden;

                a{
                    display: block;
                    text-align: center;
                }
            }

            &.flexnav-show li{
                overflow: visible;
            }
        }
    }

    // Touch Buttons
    .touch-button{
        text-align: center;
        position: absolute;
        z-index: 999;
        top: 0;
        right: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: transparent;

        &:hover{
            cursor: pointer;
        }

        .navicon{
            font-size: 12px;
            position: relative;
            color: $primary;
            font-style: normal;

            @include MQ(L){
                color: transparent;
            }
        }

        &.active{
            transform: rotateX(180deg);
        }
    }
}

/*--- Hamburger Menu Button ---*/

.menu-button{
    font-size: 1.25rem;
    text-align: center;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: auto;
    height: 45px;
    margin: 0;
    cursor: pointer;
    user-select: none;
    color: $white;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;

    @include MQ(M){
        height: 70px;
    }
    
    .touch-button{
        text-align: center;
        position: relative;
        z-index: 1000;
        width: 35px;
        height: 2px;
        margin: 0;
        border-radius: 100%;
        background: transparent;

        .navicon{
            position: relative;
            top: 0;
            right: 0;
            left: 0;
            display: block;
            height: 3px;
            transition: background 0.2s;
            transition: background 0s 0.3s linear;
            border-radius: 3px;
            background: $black;
            box-shadow: 0px 1px 3px 0px rgba(5, 31, 50, 0.25); 

            &:before{
                content: '';
                position: absolute;
                top: -10px;
                left: 0;
                display: block;
                width: 100%;
                height: 3px;
                transition: top 0.3s 0.3s, transform 0.3s 0s;
                border-radius: 3px;
                background-color: $black;
                box-shadow: 0px 1px 3px 0px rgba(5, 31, 50, 0.25); 
            }

            &:after{
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                display: block;
                width: 100%;
                height: 3px;
                transition: bottom 0.3s 0.3s, transform 0.3s 0s, background 0s 0.3s linear;
                border-radius: 3px;
                background-color: $black; 
                box-shadow: 0px 1px 3px 0px rgba(5, 31, 50, 0.25); 
            }
        }

        // Active
        &.active{
            .navicon{
                background: transparent;
                box-shadow: none;

                &:before{
                    top: 0;
                    transition: top 0.3s 0s, bottom 0.3s 0s, transform 0.3s 0.3s;
                    transform: rotate(45deg);
                }

                &:after{
                    bottom: 0;
                    transition: top 0.3s 0s, bottom 0.3s 0s, transform 0.3s 0.3s, background 0s 0s linear;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

// Desktop Nav

@media all and (min-width: 1200px){
    .flexnav{
        justify-content: flex-end;
        overflow: visible;
        flex-direction: row;
        max-height: none;
        background: transparent;
        position: relative;
        box-shadow: none;

        &.opacity{
            opacity: 1;
        }

        li{
            text-align: center;
            position: relative;
            display: block;
            flex: 0 0 auto;
            overflow: visible;
            width: auto;
            margin: 0 0.9rem;

            &:hover{
                > a{
                    color: $primary;
                }
            }

            a{
                font-size: 1.125rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                overflow: visible;
                width: auto;
                margin: 0 auto;
                border-bottom: none;
                font-weight: 400;
                color: $black;
                line-height: 1;
                padding: 0;
            }

            > ul{
                position: absolute;
                top: calc(100% + 6px);
                //left: 50%;
                left: 0;
                background: $white;
                display: none;
                min-width: 250px;
                margin: 0 auto;
                padding: 0;
                padding: 0;
                //transform: translateX(-50%);
                border-top: 6px solid $primary;
                box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.25);

                li{
                    text-align: left;
                    position: relative;
                    width: 100%;
                    margin: 0;
                    padding: 1rem;
                }
            }

            ul{
                &.open{
                    z-index: 1;
                    display: block;
                    visibility: visible;
                    opacity: 1;

                    li{
                        overflow: visible;
                    }
                }

                li{
                    padding: 1rem 0.5rem;

                    > ul{
                        top: 0;
                        margin-left: 100%;
                    }

                    a{
                        font-size: 1rem;
                        color: $black;
                        border-bottom: none;
                        background: transparent;
                    }
                }
            }
        }

        > li{
            // Search

            &:last-of-type{
                > a{
                    color: $primary;

                    svg{
                        fill: $primary;
                        margin: 0 0.25rem;
                    }
                }
            }
        }
    }

    .menu-button{
        display: none;
    }

    .no-touchevents .flexnav .touch-button,
    .no-touch .flexnav .touch-button{
        display: none;
    }
}
/* Flexbox Fallback */

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .flexnav{
    display: inline-block;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .flexnav li{
    width: 100%;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .flexnav li ul li{
    width: 100%;
}

@media all and (min-width: 800px){
    .no-flexbox.no-flexboxlegacy.no-flexboxtweener .flexnav li{
        width: 20%;
    }
}
