.body{
	&--interior{
		display: block;
	}

	&--home{
		display: block;
	}
}

.main{

	&--interior{
		display: block;
	}

	&--home{
		display: block;
	}
}

.content{
	&--interior{
		display: block;
	}

	&--home{
		display: block;
	}
}