body{
	display: inherit;	
}

a{
	display: inherit;	
}

h1{
	display: inherit;	
}

h2{
	display: inherit;	
}

h3{
	display: inherit;	
}

h4{
	display: inherit;	
}

h5{
	display: inherit;	
}

h6{
	display: inherit;	
}

p{
	display: inherit;	
}

ul{
	display: inherit;
}

ol{
	display: inherit;
}

li{
	display: inherit;
}

blockquote{
	display: inherit;	
}

cite{
	display: inherit;
}

strong,
b{
	display: inherit;
}

small{
	display: inherit;
}

dl{
	display: inherit;	
}

dt{
	display: inherit;
}

dd{
	display: inherit;
}

kbd{
	display: inherit;
}

abbr{
	display: inherit;
}

pre{
	display: inherit;
}

code{
	display: inherit;
}

em,
i{
	display: inherit;
}

hr{
	display: inherit;
}

figure{
	display: inherit;
}

figcaption{
	display: inherit;	
}